<div class="remoteStreams" ng-controller="RemoteStreamsController as rtc">
    <h2>Remote Streams</h2>

    <table>
        <thead>
            <tr>
                <th>Stream</th><!--<th>1-way</th><th>2-way</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}">
                <td ng-click="rtc.view(stream)"><a>{{stream.name}}</a></td>
                <!--<td ng-click="rtc.view(stream)"><a>View</a></td>
                 <td ng-click="rtc.call(stream)"><a>Call</a></td> -->
            </tr>
        </tbody>
    </table>

    <li ng-click="rtc.loadData()">
        <a href>Refresh</a>
    </li>

    <div id="chat">
        <div id="chatArea">
            <p ng-repeat="line in rtc.chatMessages"> 
                {{line}}
            </p>
        </div>

        <p><input value='' ng-model="rtc.chatTextBox" ng-keydown="$event.keyCode == 13 && rtc.sendMsg(rtc.remoteStreams[rtc.activeStream.id)" />
        <button ng-click="rtc.sendMsg(rtc.activeStream.id)" > Enviar </button>
        </p>
    </div>
</div>

<div id="remoteVideosContainer"></div>